.result_container {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.result {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.result_title {
  width: 500px;
  text-align: left;
  font-size: 28px;
  margin-bottom: 50px;
  font-weight: 800;
  line-height: 40px;
}

.result_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result_img {
  width: 400px;
  height: 400px;
  background-color: #b889bf;
  margin-bottom: 50px;
}

.result_feature {
  width: 500px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 20px;
}

.compatibility_good,
.compatibility_bad {
  width: 500px;
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.restart_btn {
  width: 500px;
  height: 60px;
  margin-top: 40px;
  background-color: #d277f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 70px;
}
